.weplaypage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Makes sure the page takes full height */
  width: 100vw;
  margin: 0;
  padding: 0;
}

.weplay-content {
  flex-grow: 1; /* Pushes footer down */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

iframe {
  max-width: 100%;
}

.footer {
  width: 100vw;
}


